<nav class="navbar navbar-expand-lg fixed-top bg-primary" data-bs-theme="dark">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand exclude-hover" href="#">MEAN Auth App</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div id="navbarResponsive" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li
          class="nav-item"
          id="home"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" [routerLink]="['/']"
            ><i class="fa-solid fa-house" style="color: #d6c1c1"></i
          ></a>
        </li>
        <li
          *ngIf="checkLoggedIn()"
          id="dashboard"
          class="nav-item"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" [routerLink]="['dashboard']">Dashboard</a>
        </li>
      </ul>

      <ul class="nav navbar-nav ms-auto">
        <li
          id="login"
          *ngIf="checkLoggedIn()"
          class="nav-item me-5"
          id="profile"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" [routerLink]="['profile']">Profile</a>
        </li>

        <li
          id="register"
          *ngIf="!checkLoggedIn()"
          class="nav-item me-5"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" [routerLink]="['login']">Login</a>
        </li>
        <li
          *ngIf="!checkLoggedIn()"
          class="nav-item"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" [routerLink]="['register']">Register</a>
        </li>

        <li class="nav-item logout-btn" *ngIf="checkLoggedIn()" id="logout">
          <a class="nav-link" (click)="onLogoutClick()"
            ><i
              class="fa-solid fa-right-from-bracket"
              style="color: #ededed"
            ></i
          ></a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
