h2 {
  margin-top: 30px;
  margin-left: 90px;
  font-size: 140px;
  margin-bottom: 20px;
}

li {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}

.list-group {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
span {
  width: 500px;
}
.detail {
  text-align: start;
}
