footer {
  margin-top: 60px;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #7d77772f;
  padding: 10px 10px;
}

a:hover {
  color: blue;
  display: inline-block;
  transform: scale(1.2);
  transition: 0.5s ease-out;
}
