.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px 0;
}

.toast-top-center {
  font-size: 20px;
  top: 50px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: auto;
}

.toast-error-custom {
  background-color: #f8d7da !important;
  color: #721c24 !important;
  border-color: #f5c6cb !important;
}

.toast-error-custom .toast-message {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.toast-error-custom .toast-message::before {
  content: "⚠️❗️";

  margin-left: 10px;
}

.toast-error-custom .toast-title {
  font-weight: bold;
  color: #721c24 !important;
  margin-left: 10px;
}
.toast-success-custom {
  background-color: #d4edda !important;
  color: #155724 !important;
  border-color: #c3e6cb !important;
  display: flex;
  align-items: center;
}

.toast-success-custom .toast-message {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.toast-success-custom .toast-message::before {
  content: "✅";
  margin-left: 10px;
}

.toast-success-custom .toast-title {
  font-weight: bold;
  color: #155724 !important;
  margin-left: 10px;
}
